{% extends "layout.jinja2" %}

{% block content %}
<div class="content error">
    <p>There was a mistake! A 404 was found!</p>
    <span class="label label-warning">{{ error }}</span>
</div>

{% endblock content %}
